<ons-modal var="deleteArticleModal">
    <div class="dn-card dn-del-article-con">
        <div class="dn-card-title">Delete Article?</div>
        <div class="dn-card-content">
            <ons-row class="dn-card-content-sub-card">
                <ons-col>
                    <button class="button" ng-click="deleteArticleModal.hide()">Yes</button>
                </ons-col>
                <ons-col>
                    <button class="button" ng-click="deleteArticleModal.hide()">No</button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-modal>