<ons-toolbar>
    <div class="left">
        <ons-back-button></ons-back-button>
        <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        </ons-toolbar-button>
        <div class="app-title" ng-click="menu.setMainPage('views/home.html')">DeepNu</div>
    </div>

    <div class="right">
        <input type="search" class="search-input icon dn-search-toolbar" placeholder="Keyword">
    </div>
</ons-toolbar>