<ons-navigator animation="slide" var="app" ng-controller="PresidentialCandidatesCtrl">
    <dn-toolbar-search></dn-toolbar-search>

    <ons-row class="dn-card-row">
        <ons-col>
            <div class="dn-card">
                <div class="dn-card-title">Presidential Candidate</div>
                <div class="dn-card-content">
                    <ons-row ng-repeat="(key, presidentType) in presidentialCandidate" class="dn-card-content-sub-card">
                        <h4>{{key}}</h4>
                        <!--<ons-col ng-repeat="president in presidentType">-->
                        <div class="dn-pie-container" ng-repeat="president in presidentType">
                            <div class="president-name">{{president.fname}} {{president.lname}}</div>
                            <div class="president-percentage">{{president.percentage}}%</div>
                            <nvd3 options="options" data="president.total"></nvd3>
                        </div>
                        <!--</ons-col>-->
                    </ons-row>
                </div>
            </div>
        </ons-col>
    </ons-row>

    <ons-row class="dn-card-row">
        <ons-col>
            <div class="dn-card">
                <div class="dn-card-title">Social Media Ranking</div>
                <div class="dn-card-content">
                    <ons-row class="dn-card-content-sub-card">
                        <ons-col width="60%" class="dn-social-media-ranking-graph-con">
                            <nvd3 class="dn-social-media-ranking-donut" options="socialMediaRankingOptions" data="candidates"></nvd3>
                        </ons-col>
                        <ons-col>
                            <ons-row ng-repeat="(key, president) in candidates" class="dn-card-content-sub-card">
                                <ons-col>
                                    <div class="dn-president-name">
                                        <div style="background-color: {{president.color}}" class="dn-president-color"></div>
                                        {{president.name}}
                                    </div>
                                </ons-col>
                            </ons-row>
                        </ons-col>
                        <ons-col>
                            <ons-row ng-repeat="(key, president) in candidates" class="dn-card-content-sub-card">
                                <ons-col>
                                    <div class="more">more</div>
                                </ons-col>
                            </ons-row>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
        </ons-col>
    </ons-row>

    <ons-row class="dn-card-row">
        <ons-row>
            <ons-col>
                <div class="dn-card">
                    <div class="dn-card-title">Top Headlines</div>
                    <div class="dn-card-content">
                        <ons-row class="dn-card-content-sub-card">
                            <!--<ons-col class="dn-top-headlines-content-text">-->
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ornare urna, a tempor sem. Vestibulum eleifend turpis eget nulla luctus, eu tincidunt ex vehicula.-->
                            <!--Nunc sit amet lacinia elit, ut lacinia nulla.-->
                            <!--</ons-col>-->
                            <ons-carousel ons-postchange="topHeadlinesCarouselChange()" var="topHeadlinesCarousel" class="dn-top-headlines-content-text" swipeable overscrollable auto-scroll ng-if="showCarousel">
                                <ons-carousel-item ng-repeat="(key, article) in articles">
                                    {{article.content}}
                                </ons-carousel-item>
                            </ons-carousel>
                        </ons-row>
                        <ons-row class="dn-card-content-sub-card">
                            <ons-col>
                                <button class="button dn-button-top-head-save" ng-click="activeArticle.isSaved  ? unsaveArticle() : saveArticle()">
                                    <ons-icon ng-class="{'ons-btn-icon-active': activeArticle.isSaved }"
                                            icon="fa-heart"
                                            size="20px"
                                            fixed-width="false">
                                    </ons-icon>
                                    {{activeArticle.isSaved ? "Unsave" : "Save"  }}
                                </button>
                            </ons-col>
                            <ons-col>Swipe Next</ons-col>
                            <ons-col>


                                <!--<button class="button" onclick="window.open('http://www.yahoo.com', '_system');">Read More-->

                                <button class="button" ng-click="readMore()">Read More
                                    <ons-icon class="dn-read-more-btn-icon"
                                              icon="fa-external-link"
                                              size="20px"
                                              fixed-width="false"
                                              style="color: #56aaff">
                                    </ons-icon>
                                </button>
                            </ons-col>
                        </ons-row>
                    </div>
                </div>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col>
                <div class="dn-card">
                    <div class="dn-card-title">Trending Hashtags</div>
                    <div class="dn-card-content" >
                        <ons-row class="dn-card-content-sub-card" >
                            <div class="dn-hashtag-container" ng-repeat="hashtags in trendingHashtags">
                                <ons-row>
                                    <ons-col>{{hashtags}}</ons-col>
                                    <ons-col>
                                        <div class="search-label" ng-click="app.pushPage('views/search-hashtag.html')">Search</div>
                                    </ons-col>
                                </ons-row>
                            </div>
                        </ons-row>
                    </div>
                </div>
            </ons-col>
        </ons-row>
    </ons-row>


</ons-navigator>