<ons-page ng-controller="SearchHashtagsCtrl">
    <dn-toolbar-search></dn-toolbar-search>

    <ons-row class="dn-list-semicolon">
        <ons-col>
            <div class="">Search Hashtag: <span>#immigration</span></div>
        </ons-col>
    </ons-row>

    <ons-row class="dn-list-semicolon">
        <ons-col class="dn-bottom-border">
            <div class="">Total Listings: <span>4,000</span></div>
        </ons-col>
    </ons-row>

    <ons-row class="dn-list-semicolon" ng-repeat="hashtagContent in searchHashtagsContent">
        <ons-col width="80%">
            <div class="">{{hashtagContent.title}}: <span>{{hashtagContent.total}}</span></div>
        </ons-col>
        <ons-col>
            <button class="button" ng-click="app.pushPage('views/view-hashtag.html')">Select</button>
        </ons-col>
    </ons-row>

</ons-page>