<ons-navigator animation="slide" ng-controller="ViewSavedArticlesCtrl">
    <dn-toolbar-search></dn-toolbar-search>

    <ons-row>
        <ons-col>
            <div class="dn-card">
                <div class="dn-card-title">Saved Articles</div>
                <div class="dn-card-content">
                    <ons-row class="dn-card-content-sub-card">
                        <ons-carousel var="savedArticlesCarousel" ons-postchange="topHeadlinesCarouselChange()" class="dn-top-headlines-content-text dn-saved-articles-content-text" swipeable  auto-refresh auto-scroll ng-if="savedArticles">
                            <ons-carousel-item ng-repeat="(key, article) in savedArticles">
                                <div class="dn-scroll">
                                    <div class="dn-sub-card-header">
                                        {{article.article.headline}}
                                    </div>
                                    <div class="dn-sub-card-paragraph">
                                        {{article.article.content}}
                                    </div>
                                    <div class="dn-sub-card-date">
                                        Date: <span>{{article.article.date | date: format : 'shortDate'}}</span>
                                    </div>
                                </div>
                            </ons-carousel-item>
                        </ons-carousel>
                    </ons-row>
                    <ons-row class="dn-card-content-sub-card">
                        <ons-col>
                            <button class="button dn-button-top-head-save" ng-click="showDeleteArticleModal()">
                                <ons-icon
                                        icon="fa fa-trash"
                                        size="20px"
                                        fixed-width="false"
                                        style="color: #56aaff">
                                </ons-icon>
                                Delete</button>
                        </ons-col>
                        <ons-col>
                            Swipe Next
                        </ons-col>
                        <ons-col>
                            <button class="button" ng-click="readMore()">Read More
                                <ons-icon class="dn-read-more-btn-icon"
                                        icon="fa-external-link"
                                        size="20px"
                                        fixed-width="false"
                                        style="color: #56aaff">
                                </ons-icon>
                            </button>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
        </ons-col>
    </ons-row>

    <!--<dn-delete-article-modal></dn-delete-article-modal>-->
    <ons-modal var="deleteArticleModal">
        <div class="dn-card dn-del-article-con">
            <div class="dn-card-title">Delete Article?</div>
            <div class="dn-card-content">
                <ons-row class="dn-card-content-sub-card">
                    <ons-col>
                        <button class="button" ng-click="deleteArticle()">Yes</button>
                    </ons-col>
                    <ons-col>
                        <button class="button" ng-click="deleteArticleModal.hide()">No</button>
                    </ons-col>
                </ons-row>
            </div>
        </div>
    </ons-modal>
</ons-navigator>