<ons-page ng-controller="SearchHashtagsCtrl">
    <dn-toolbar-search></dn-toolbar-search>

    <ons-row class="dn-list-semicolon">
        <ons-col>
            <div class="">Search Hashtag: <span>#immigration</span></div>
        </ons-col>
    </ons-row>

    <ons-row class="dn-list-semicolon">
        <ons-col class="">
            <div class="">Total Listings: <span>4,000</span></div>
        </ons-col>
    </ons-row>

    <ons-row class="dn-list-semicolon">
        <ons-col class="">
            <select class="dn-custom-select-hidden" ng-model="searchHashtagsContent[0]" ng-options="content.title for content in searchHashtagsContent"></select>
            <div class="dn-custom-select" ng-click="openSelectBox()">{{searchHashtagsContent[0].title}}: <span class="dn-blue">{{searchHashtagsContent[0].total}}</span></div>
        </ons-col>
    </ons-row>



    <ons-row>
        <ons-col>
            <div class="dn-card">
                <div class="dn-card-title">Find and share Deep News</div>
                <div class="dn-card-content">
                    <ons-row class="dn-card-content-sub-card">
                        <ons-carousel class="dn-top-headlines-content-text" swipeable overscrollable auto-scroll var="deepNewsCarousel">
                            <ons-carousel-item>
                                <textarea class="dn-scroll" readonly>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ornare urna, a tempor sem. Vestibulum eleifend turpis eget nulla luctus, eu tincidunt ex vehicula.
                                    Nunc sit amet lacinia elit, <span class="dn-yellow-highlight">ut lacinia nulla <span class="dn-hashtag-word">Immagration</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit </span>. Duis eget ornare urna, a tempor sem.
                                </textarea>
                                <!--<div class="dn-scroll">-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget ornare urna, a tempor sem. Vestibulum eleifend turpis eget nulla luctus, eu tincidunt ex vehicula.-->
                                    <!--Nunc sit amet lacinia elit, <span class="dn-yellow-highlight">ut lacinia nulla <span class="dn-hashtag-word">Immagration</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit </span>. Duis eget ornare urna, a tempor sem.-->
                                <!--</div>-->
                            </ons-carousel-item>
                            <ons-carousel-item>
                                B
                            </ons-carousel-item>
                            <ons-carousel-item>
                                C
                            </ons-carousel-item>
                        </ons-carousel>
                    </ons-row>
                    <ons-row class="dn-card-content-sub-card">
                        <ons-col>
                            <button class="button dn-prev-btn" ng-click="prevSlide()">Prev</button>
                        </ons-col>
                        <ons-col>
                            1 of 500
                        </ons-col>
                        <ons-col>
                            <button class="button dn-next-btn" ng-click="nextSlide()">Next</button>
                        </ons-col>
                    </ons-row>
                    <ons-row class="dn-card-content-sub-card dn-full-width-button">
                        <ons-col>
                            <button class="button dn-share-meme-btn">Share as Memes</button>
                        </ons-col>
                        <ons-col>
                            <button class="button dn-share-text-btn">Share as Text</button>
                        </ons-col>
                    </ons-row>
                </div>
            </div>
        </ons-col>
    </ons-row>

</ons-page>