.page--menu-page__background {
    background-color: #333;
}

.page--menu-page__content {
    color: white;
}

.menu-close,
.menu-close > .toolbar-button {
    color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item:last-child,
.menu-item {
    background-color: transparent;
    background-image: none !important;
    border-color: transparent;
    color: #fff;
}

.menu-item {
    padding: 0 0 0 20px;
    line-height: 52px;
    height: 52px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item:last-child,
.bottom-menu-item {
    border-color: #393939;
    background-color: transparent;
    background-image: none !important;
    color: #ccc;
}

.bottom-menu-item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

/***************************/

body > ons-sliding-menu > div.onsen-sliding-menu__main.ons-sliding-menu-inner > ons-navigator > ons-page > ons-toolbar{
    background-color: #1a99fc;

}

body > ons-sliding-menu > div.onsen-sliding-menu__main.ons-sliding-menu-inner > ons-navigator > ons-page > div.page__content.ons-page-inner > ons-row:nth-child(1) {
    margin-top: 15px;
}

.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet{
    color: white;
}

.navigation-bar__title{
    font-weight: bold;
    color: white;
}

.dn-card{
    border: 1px solid #1a99fc;
    display: block;
    margin: 14px 10px;
    border-radius: 2px;
}

.dn-card-title{
    background-color: #1a99fc;
    color: white;
    /*font-weight: bold;*/
    text-align: center;
    border-bottom: 1px solid #1a99fc;
}

.dn-card-content-sub-card, .dn-card .dn-card-title{
    padding: 10px;
}

.dn-pie-container{
    padding: 5px 5px;
    display: inline-table;
    width: 8em;
    position: relative;
    height: 100px;
}

.dn-card-content-sub-card h4{
    margin: 0px;
    display: block;
    height: 20px;
    width: 100%;
    color: #1a99fc;
}

/*.president-name {*/
    /*position: absolute;*/
    /*word-spacing: 99999999999999px;*/
    /*left: 92px;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*top: 35px;*/
/*}*/

.president-name {
    position: absolute;
    /* word-spacing: 99999999999999px; */
    left: 92px;
    font-size: 14px;
    font-weight: bold;
    top: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: pre-wrap; */
    width: 58px;
}

.dn-pie-container nvd3 {
    position: absolute;
    top: -25px;
    left: -58px;
}


.president-percentage{
    color: #1a99fc;
    position: absolute;
    left: 33px;
    z-index: 2;
    top: 45px;
    font-size: 15px;
}

.dn-card-content-sub-card .more{
    font-weight: bold;
    font-size: 14px;
    color: #1a99fc;
    text-align: right;
}

.dn-hashtag-container{
    display: inline-block;
    width: 45%;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 0px;
}

.dn-hashtag-container:nth-child(even){
    padding-left: 25px;
}

.search-label{
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: #1a99fc;
}

.dn-card-content-sub-card button{
    background-color: #333333;
    margin: 0 auto;
    position: relative;
    display: block;
    font-size: 13px;
    width: 100px;
}

.dn-social-media-ranking-donut {
    position: relative;
    top: -2em;
    left: -2em;
}

.dn-top-headlines-content-text{
    font-weight: bold;
    font-size: 13px;
    height: 100px;
}

.dn-side-menu-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#249fff+0,1b95f6+1,32373a+100 */
    background: rgb(36,159,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(36,159,255,1) 0%, rgba(27,149,246,1) 1%, rgba(50,55,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(36,159,255,1) 0%,rgba(27,149,246,1) 1%,rgba(50,55,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(36,159,255,1) 0%,rgba(27,149,246,1) 1%,rgba(50,55,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#249fff', endColorstr='#32373a',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #000;
    font-size: 14px;
    padding: 14px 10px;
}

.menu-list, .menu-item:first-child, .menu-item:last-child, .menu-item{
    border-bottom: 1px solid #000 !important;
    background-color: #232323;
}

.page--menu-page__content{
    background-color: black !important;
}

.dn-side-menu-footer{
    padding: 10px 0px;
    text-align: center;
    background-color: #232323;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    font-size: 19px;
}

.dn-search-toolbar{
    border-radius: 1px;
    margin-top: 4px;
    margin-right: 1px;
    height: 36px;
    left: -7px;
    position: relative;
}

div.dn-card-content > ons-row:nth-child(2) > ons-col:nth-child(2){
    line-height: 35px;
    text-align: center;
}

.toolbar-button--quiet{
    padding: 0 0px 0 0 !important;
}

.dn-card-content{

}

.dn-list-semicolon span {
    color: #1a99fc;
}
.dn-list-semicolon {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}

.dn-bottom-border {
    border-bottom: 1px solid lightgray !important;
    padding-bottom: 15px;
}

.dn-list-semicolon button {
    background-color: #1a99fc;
    border-radius: 7px;
    padding: 0px 11px;
    top: -5px;
    float: right;
}

.dn-yellow-highlight{
    background-color: #ffff99;
}

.dn-hashtag-word{
    color: red;
}

.dn-custom-select{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,a1a1a1+100 */
    /*background: rgb(249,249,249); /!* Old browsers *!/*/
    /*background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(161,161,161,1) 100%); /!* FF3.6-15 *!/*/
    /*background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(161,161,161,1) 100%); /!* Chrome10-25,Safari5.1-6 *!/*/
    /*background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(161,161,161,1) 100%); /!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!/*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#a1a1a1',GradientType=0 ); /!* IE6-9 *!/*/
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 3px;
    /*background-image: url("../img/arrow_drop_down.png"), linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(161,161,161,1) 100%);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 35px;*/
    /*background-position: center right;*/
    background: url("../img/arrow_drop_down.png") center right/35px no-repeat, linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(161,161,161,1) 100%);
}

.dn-custom-select-hidden{
    opacity: 0;
    position: absolute;
    padding : 10px;
    width: 100%;
}

.dn-full-width-button button{
    width: 140px;
}

/*.dn-scroll{*/
    /*overflow-y: scroll;*/
    /*height: 100%;*/
/*}*/

.dn-scroll {
    overflow-y: scroll;
    height: 90px;
    width: 100%;
    border: none;
    background-color: #f9f9f9;
}

/*.dn-president-name{*/
    /*font-weight: bold;*/
    /*font-size: 14px;*/
    /*left: -3em;*/
    /*position: relative;*/
/*}*/

.dn-president-name {
    font-weight: bold;
    font-size: 14px;
     left: -3em;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.dn-president-color{
    width: 3px;
    height: 20px;
    position: absolute;
    left: -10px;
}

.dn-share-meme-btn{
    float: left;
    /*margin-left: 3px !important;*/
}

.dn-share-text-btn{
    float: right;
    /*margin-right: 2px !important;*/
}

.dn-next-btn{
    float: right;
}

.dn-prev-btn{
    float: left;
}

.app-title {
    font-weight: bold;
    color: white;
    display: inline-block;
    top: 3px;
    position: relative;
}

.dn-button-top-head-save ons-icon{
    left: -5px;
    position: relative;
    top: 2px;
    color: #56aaff;
}

ons-icon.ons-btn-icon-active {
    color: #D62728;
}

.dn-sub-card-paragraph, .dn-sub-card-date{
    font-weight: normal !important;
}

.dn-sub-card-header, .dn-sub-card-date, .dn-sub-card-paragraph{
    margin-bottom: 10px;
}

.dn-del-article-con{
    margin: 15px 22px;
}

.dn-del-article-con .dn-card-content-sub-card{
    padding: 30px;
    background-color: #ffffff;
}

.dn-del-article-con button {
    background-color: #1a99fc;
}

.dn-saved-articles-content-text{
    height: 180px;
}

.dn-read-more-btn-icon{
    font-size: 16px !important;
    position: relative;
    top: 2px;
    left: 2px;
}

@media (min-width:1024px) and (max-width: 1444px) {
    .dn-card-row{
        width: 33%;
        display: inline-flex;
    }
}

@media (min-width:641px) and (max-width:1024px) {
    .dn-card-row{
        width: 50%;
        display: inline-flex;
    }
}


/*.dn-card-content-sub-card ons-carousel{*/
    /*height: 100px;*/
/*}*/

/*.nvd3 .nv-legend .nv-series{*/
    /*cursor: pointer;*/
    /*top: 139px;*/
    /*position: relative;*/
    /*display: table-footer-group;*/
/*}*/

/*.nv-legendWrap{*/
    /*position: absolute;*/
    /*top: 1115px;*/
/*}*/

/*.dn-social-media-ranking-graph-con{*/
    /*min-height: 260px;*/
/*}*/