<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="deepNu" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/OnsenUI/js/onsenui.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/OnsenUI/css/onsenui.css" />
    <link rel="stylesheet" href="lib/OnsenUI/css/onsen-css-components-blue-basic-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />

    <link rel="stylesheet" href="lib/nvd3/build/nv.d3.css">

    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- --------------- App init --------------- -->

    <title>Onsen UI Sliding Menu</title>

    <script src="lib/lodash/lodash.min.js"></script>

    <script src="js/app.js"></script>

    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/nvd3/build/nv.d3.min.js"></script>
    <script src="lib/angular-nvd3/dist/angular-nvd3.min.js"></script>

    <!-- Services -->
    <script src="js/services/data.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/controllers.js"></script>

    <!-- Directives -->
    <script src="js/directives/deleteArticleModal.js"></script>
    <script src="js/directives/toolbarSearch.js"></script>
</head>

<body>
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>
    <!-- -->

    <ons-sliding-menu menu-page="menu.html" main-page="views/home.html" side="left"
                      var="menu" type="reveal" max-slide-distance="260px" swipeable="true">
    </ons-sliding-menu>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <!--<ons-toolbar >-->
                <!--<div>                DeepNu: "Deep News" research app <br>-->
                    <!--using artificial intelligence with-->
                    <!--community driven and social content.</div>-->

            <!--</ons-toolbar>-->

            <div class="dn-side-menu-header">
                DeepNu: "Deep News" research app <br>
                using artificial intelligence with <br>
                community driven and social content.
            </div>

            <ons-list class="menu-list">
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/home.html', {closeMenu: true})">
                    Start
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/home.html', {closeMenu: true})">
                    Find and share Deep News
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/home.html', {closeMenu: true})">
                    Most  lies
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/home.html', {closeMenu: true})">
                    Social Media Ranking
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/home.html', {closeMenu: true})">
                    Make Memes and quotes
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/home.html', {closeMenu: true})">
                    Top News Headlines
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('views/view-saved-articles.html', {closeMenu: true})">
                    View Saved Articles
                </ons-list-item>
            </ons-list>

            <div class="dn-side-menu-footer">
                About us and our source
            </div>

        </ons-page>
    </ons-template>

    <ons-template id="page2.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Page 2</div>
            </ons-toolbar>


            <ons-row style="margin-top: 100px; text-align: center;">
                <ons-col>
                    <ons-button modifier="light" ng-click="menu.toggleMenu()">
                        Toggle Menu
                    </ons-button>
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>

    <div ui-view></div>

</body>
</html>